doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/libs/jquery-2.1.4.min.js')
    script(src='/libs/bootstrap/js/bootstrap.js')
    script(src='/libs/underscore-min.js')
    script(src='/libs/backbone-min.js')
  body
    block content